/* font import */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

/* global variables */
:root {
	/* global z-index */
	--global-importance: 600;

	/* textbox/toggle */
	--textbox-width: calc(var(--modmenu-width) - 166px);
	--textbox-height: var(-toggle-height);

	--toggle-width: calc(var(--textbox-width) - 70px);
	--toggle-height: 32px;

	/* maximize/minimize */
	--maximize-button-left: 0px;

	/* modmenu */
   --modmenu-header-padding: 2px;
	--modmenu-height: 300px;
	--modmenu-width: 340px;
	--visibility: visible;

	/* theme */
   --font: Orbitron;

	--main-color: #ff8800;
	--main-border-color: #ff8800;
	--main-border-style: solid;
	--main-text-color: #ff5e00;

	--header-color: #ff7300;
	--header-border-color: #ff7300;
	--header-border-style: solid;
	--header-text-color: #e02200;

   --minimize-border-color: #ff3c00;
   --minimize-shade: #f1080838;
   --minimize-color: #ff1e00;

   --minimized-color: #ff5e00;

   --maximize-border-color: #ff3c00;
   --maximize-shade: #f1080838;
   --maximize-color: #ff1e00;

   --stage-text-color: #ff2600;

	--textbox-color: #ff4800;
	--textbox-text-color: #e40000;
   --textbox-border-color: #ff5e00;
   --textbox-border-style: solid;

	--toggle-inactive-color: #ff5100;
   --toggle-inactive-shade: #e44800;
	--toggle-active-color: #ff3300;
   --toggle-active-shade: #f03000;
	--toggle-text-color: #751200;

}

/* main modmenu styling */
.modmenu {
   /* font, borders */
   border: 4px var(--main-border-style);
	font-family: var(--font);
   border-radius: 10px;

   /* positioning */
   position: absolute !important;
   bottom: 0px;
   right: 0px;

   /* dimensions */
   height: var(--modmenu-height);
   width: var(--modmenu-width);

   /* colors */
   border-color: var(--main-border-color);
   background-color: var(--main-color);
   color: var(--main-text-color);

   /* misc */
	z-index: var(--global-importance);
}
.modmenu-header {
   /* positioning */
	justify-content: center;
	flex-direction: row;
	align-items: center;
	display: flex;
	cursor: move;

   /* dimensions */
   padding: var(--modmenu-header-padding);

   /* borders */
	border-bottom: 4px var(--header-border-style);
	border-radius: 4px 4px 0 0;

   /* colors */
   border-color: var(--header-border-color);
   background-color: var(--header-color);

   /* misc */
   user-select: none;
}
.modmenu-content {
   /* positioning */
	justify-content: center;
	flex-direction: column;
	align-items: center;

   /* dimensions */
	display: flex;
	padding: 20px;

   /* misc */
   visibility: var(--visibility);
   overflow: auto;
}



/* modmenu header text styling */
.header-text {
   /* positioning */
	margin-right: 4px;
	margin-left: auto;

   /* colors */
   color: var(--header-text-color);

   /* misc */
   visibility: var(--visibility);
}
.stage {
   /* positioning */
	margin-right: auto;
	margin-left: 4px;

   /* colors */
	color: var(--stage-text-color);

   /* misc */
   visibility: var(--visibility);
}



/* minimize and maximize styling */
.minimize {
   /* positioning */
   margin: auto;
   margin-bottom: -1px;
   margin-right: 0px;
	margin-left: 0px;
	text-align: left;

   /* colors */
   border-color: var(--minimize-border-color);
   color: var(--minimize-color);
}
.minimize:after {
   /* positioning */
   position: relative;

   /* dimensions */
   padding-right: 2px;
	padding-left: 2px;

   /* borders */
	border: 2px dashed;
	border-radius: 6px;

   /* misc */
	content: "\d7";
}
.minimize:hover {
   /* colors */
	background-color: var(--minimize-shade);
}
.minimize.hidden {
   /* misc */
	visibility: hidden;
}
.maximize {
   /* positioning */
   margin: auto;
   text-align: left;
	margin-right: 0px;
	margin-left: var(--maximize-button-left);

   /* colors */
	border-color: var(--maximize-border-color);
	color: var(--maximize-color);
}
.maximize:after {
   /* positioning */
   position: relative;

   /* dimensions */
	padding-right: 8px;
	padding-left: 8px;
   padding-bottom: 3px !important;

   /* borders */
   border: 2px dashed;
	border-radius: 6px;

   /* misc */
	content: "\2197";
}
.maximize:hover {
   /* colors */
	background-color: var(--maximize-shade);
}
.maximize.hidden {
   /* misc */
	visibility: hidden;
}



/* toggle button styling */
.textbox {
   /* positioning */
   text-align: center;
	position: relative;
   margin: auto;

   /* dimensions */
   height: var(--textbox-height) !important;
	width: var(--textbox-width);
   padding: 1px;

   /* borders */
   border: 5px var(--textbox-border-style);
   border-radius: 2px;

   /* colors */
   border-color: var(--textbox-border-color);
   background-color: var(--textbox-color);
   color: var(--textbox-text-color);

   /* misc */
	overflow: hidden;
}
.toggle {
   /* font, borders */
   font-family: var(--font);
   border-radius: 2px;
   font-size: 12px;

   /* positioning */
   text-align: center;
   position: relative;
   margin: auto;
	margin-left: 10px;

   /* dimensions */
	height: var(--toggle-height);
	width: var(--toggle-width);

   /* colors */
   color: var(--toggle-text-color);

   /* misc */
	overflow: hidden;
}
.toggle.active {
   /* borders */
   border: 2px solid;

   /* colors */
	background-color: var(--toggle-active-color);
	border-color: var(--toggle-active-color);
}
.toggle.inactive {
   /* borders */
   border: 2px solid;

   /* colors */
	background-color: var(--toggle-inactive-color);
	border-color: var(--toggle-inactive-color);
}
.toggle.active:hover {
   /* borders */
   border: 2px solid;

   /* colors */
	background-color: var(--toggle-active-shade);
	border-color: var(--toggle-active-shade);
}
.toggle.inactive:hover {
   /* borders */
   border: 2px solid;

   /* colors */
	background-color: var(--toggle-inactive-shade);
	border-color: var(--toggle-inactive-shade);
}



/* section spacing */
section {
	justify-content: space-between;
	display: flex;
	margin-bottom: 8px;
}